{% extends "base.html" %} 
{% load static %}
{% block titulo %} Karaoke-Lounge Bar Taró {% endblock %} 
{% block cuerpo %}
<main class="form-signin w-100 m-auto" style="background-color: #1d357e;">
  <section>
    <div class="container-fluid pt-md-5 pb-md-5 pt-3 pb-3">
    </div>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="{% static "img/login.jpeg" %}"
                  alt="Una mujer iniciando sesion en una tablet" class="img-fluid mt-5" style="border-radius: 
                  1rem 0 0 1rem; height:500px" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <img src="{% static "img/tarologo.png" %}" height="60" alt="Logo karaoke"/>
                      <span class="h1 fw-bold mb-0">Karaoke Taró</span>
                    </div>
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia sesión en tu cuenta</h5>
                    <form method="post" action="{% url 'core:login' %}" class="d-flex flex-column align-items-center">
                      {% csrf_token %}
                      {{ form.non_field_errors }}
                      <div class="mb-3" style="max-width: 600px; width: 100%;">
                          <label for="id_username" class="form-label">Correo electrónico: *</label>
                          <div class="input-group">
                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                              {{ form.username }}
                          </div>
                      </div>
                      <div class="mb-3" style="max-width: 800px; width: 100%;">
                          <label for="id_password" class="form-label">Contraseña: *</label>
                          <div class="input-group">
                              <span class="input-group-text"><i class="fa fa-lock"></i></span>
                              {{ form.password }}
                              <span class="input-group-text">
                                  <i class="fa fa-eye" id="togglePassword" style="cursor: pointer"></i>
                              </span>
                          </div>
                      </div>
                      <div class="d-flex justify-content-center" style="gap: 40px;">
                        <p class="text-right pt-2">
                            * Campos obligatorios
                        </p>
                    </div>
                    <div class="d-flex justify-content-left pb-5" style="gap: 10px;">
                      <button type="submit" class="btn btn-dark btn">
                        Iniciar sesión
                      </button>
                      <p class="text-center pt-2 mb-0" style="margin-left: 10px;">
                        o
                      </p>
                      <p class="text-right pt-2 mb-0" style="margin-left: 10px;">
                        <a href="{% url 'core:register' %}">
                          ¿No tienes una cuenta todavía?
                        </a>
                      </p>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% comment %} Este contenedor genera espacio para cuadrar el estilo {% endcomment %}
  <div class="container-fluid pt-md-5 pb-md-5 pt-3 pb-3">
  </div>
{% comment %} Este script permite cambiar la visibilidad de la contraseña {% endcomment %}
<script>
  const togglePassword = document.querySelector("#togglePassword");
  const password = document.querySelector("#id_password");
  togglePassword.addEventListener("click", function () { 
    const type = password.getAttribute("type") === "password" ? "text" : "password";
    password.setAttribute("type", type);
    
    this.classList.toggle('fa-eye');
    this.classList.toggle('fa-eye-slash');
  });
</script>
{% endblock %}